<mat-card>
  <mat-card-content>
    <form
      [formGroup]="qrGenerationForm"
      (ngSubmit)="submitForm()"
      class="flex flex-col"
    >
      <mat-form-field>
        <mat-label>Nombre QR</mat-label>
        <input matInput type="text" formControlName="nombreToken" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Numero de Mensajes Limite</mat-label>
        <input matInput type="number" formControlName="numeroMensajes" />
      </mat-form-field>
      <mat-form-field *ngIf="!qrGenerationForm.value.tiempoIlimitado">
        <mat-label>Fecha Limite</mat-label>
        <input
          matInput
          formControlName="tiempoExpiracion"
          [matDatepicker]="picker"
        />
        
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-slide-toggle formControlName="tiempoIlimitado">Limitar Tiempo de Expiración</mat-slide-toggle>
      <br>
      <button style="font-weight: 680;" mat-raised-button color="primary" [disabled]="qrGenerationForm.invalid" type="submit">
        Generar Qr
      </button>
      <br>
    </form>
    <div
      class="border rounded-lg p-2 w-56 h-56 items-center justify-center flex"
    >
      <mat-spinner *ngIf="!qrImageData" class="w-full"></mat-spinner>
      <div *ngIf="qrImageData" class="w-full h-full">
        <img [src]="qrImageData" class="w-full h-full" />
      </div>
    </div>
  </mat-card-content>
</mat-card>
