.mat-elevation-z8 {
    width: 100%;
  }
  
.mat-column-mensaje{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 550px;
    max-width: 550px; /* ajusta el ancho máximo según tus necesidades */
}
.mat-column-errorMsj{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px; /* ajusta el ancho máximo según tus necesidades */
}
.statusOn{
    fill: #6dd400;

}
.statuOff{
    fill: #b2b4b6;

}
.mat-mdc-header-cell {
    background-color: #393939 !important;
    color: white;
}
.statusColorSelect{
    background-color: #e5e7eb;
}